.category-main {
  display: inline-flex;
  padding: 44px 57px 44.045px 57px;
  justify-content: center;
  align-items: center;
}
.category-subdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
}
.breadcrumb-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}
.breadcrumb-item {
  color: #76726b;
  font: "Merge One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.breadcrumb-item:hover {
  text-decoration: underline; /* Add underline on hover */
}
.filter-sorting-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 770px;
  margin-bottom: 30px;
  width: 100%;
}
.filters-div {
  display: flex;
  align-items: center;
  gap: 26px;
}
.filter-dropdown {
  color: #76726b;
  font: "Merge One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: white;
  border: none;
}
.filter-dropdown:hover {
  color: #76726b;
  font: "Merge One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: white;
  border: none;
}
.filter-dropdown:active {
  color: #76726b;
  font: "Merge One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: white;
  border: none;
}
.filter-dropdown {
  color: #76726b;
  font: "Merge One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: white;
  border: none;
}
.filter-label {
  color: #76726b;
  font: "Merge One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products-div {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  background: yellowgreen;
}
.product-card {
  display: flex;
  width: 255px;
  height: 280px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  
  margin: 10px;
}
.product-img {
  width: 249.19px;
  height: 189.47px;
}
.product-name {
  color: #76726b;
  font: "Merge One";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-price {
  color: #d27e00;
  font: "Merge One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.custom-pagination .page-item .page-link {
  background-color: white;
  color: orange;
  border-color: #d27e00;
  border-radius: 25px;
  margin: 3px;
}
.custom-pagination .page-item.active .page-link {
  background-color: orange;
  color: white;
  border-color: #d27e00;
  border-radius: 25px;
  margin: 3px;
}

.prod-row{
  align-items: flex-start;
  display: flex;
}
