.Navbar_main {
  display: flex;
  flex-direction: column;
  padding: 16px 33px 23px 34px;
  align-items: center;
  border-bottom: 3px solid #ee940f;
  height: 155px;
  /* position: sticky; */
  top: 0;
  width: 100%;
  z-index: 1000;
}

.Navbar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
  /* background: yellow; */
}
.ornatus-logo{
  width: 330px;
  height: 85px;
}
.Navbar_logo {
  display: flex;
  width: 300px;
  height: 80px;
  align-items: center;
}

.Navbar_search-input {
  width: 450px;
  height: 60px;
  fill: #fff;
  stroke-width: 5px;
  stroke: #d27e00;
  filter: drop-shadow(0px 4px 5px rgba(250, 150, 0, 0.25));
  border: solid 2px #d27e00;
  border-radius: 50px;
  padding-left: 20px;
}
.Navbar_search-input:focus {
  outline: none; /* Remove the default focus outline */
  left: 16px;
  bottom: 26px;
  color: #d27e00;
  font: "Merge One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.32px;
}

.Navbar_search-input::-webkit-search-cancel-button {
  display: none;
}

input::placeholder {
  position: absolute;
  left: 20px;
  bottom: 18px;
  color: #d27e00;
  font: "Merge One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.32px;
}

.Navbar_search-icon {
  margin-left: -60px;
  transform: translateY(-50%);
  position: absolute;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  color: #d27e00; 
}

.Navbar_icons {
  display: flex;
  align-items: center;
  gap: 13px;
}

.Navbar_home-icon {
  width: 35px;
  height: 40px;
  color: #d27e00;
}
.Navbar_cart-icon {
  width: 35px;
  height: 35px;
  color: #d27e00;
}
.Navbar_profile-icon {
  width: 32px;
  height: 32px;
  color: #d27e00;
}

.Navbar_categories {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: 10px;
}

.Navbar_category {
  display: flex;
  align-items: center;
}
.drop-icon{
  color: gray;
  width: 30px;
  height: 30px;
}
.Navbar_category-Text {
  color: #76726b;
  font: "Merge One";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.Navbar_categories_drop-icon {
  color: #76726b;
  width: 36px;
  height: 38px;
}
.Navbar_category {
  text-decoration: none;
  transition: border-bottom 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}
.Navbar_category:hover{
  border-bottom: 2px solid gray;
}
a {
  text-decoration: none;
}
.dropdown-toggle::after {
  display:none !important;
}
.search-bar-container {
  max-width: 500px;
  margin: auto;
}
.cart-itemquan{
  background: yellowgreen;
  width: 10px;
  color: #d27e00;
}